<!DOCTYPE html>
<html lang="en">
<head>
    <title>404</title>
    <link rel='stylesheet' href='/css/styles.css'>
    <link rel='icon' href='/img/i6.ico'
</head>
<body>
    <div class="main-content">
        {{>header}}
        <p>{{>404}}</p>
    </div>
    {{>footer}}
</body>
</html>