<!DOCTYPE html>
<html lang="en">
<head>
    <title>About</title>
    <link rel='stylesheet' href='/css/styles.css'>
    <link rel='icon' href='/img/i6.ico'
</head>
<body>
    <div class='main-content'>
        {{>header}}
        <p>This site was created by Vaibhav Dua.It uses data from mapbox.com and darksky.net!</p>
        <img class='portrait' src='/img/IMG_20191110_125547.jpg'>
    </div>
    {{>footer}}
</body>
</html>